ORQENT_BASE_URL=http://127.0.0.1:11434/v1
ORQENT_API_KEY=ollama
ORQENT_MODEL=gemma4:e4b
ORQENT_PERMISSION_MODE=ask
ORQENT_REQUEST_TIMEOUT_MS=180000
ORQENT_MAX_TOOL_ROUNDS=12
ORQENT_MAX_TOOL_OUTPUT_BYTES=120000
ORQENT_DATA_DIR=.orqent
ORQENT_STRICT_TOOLS=true
ORQENT_DEBUG=false
